.timeline-container{
    width: 100%;
    height: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.timeline-container .timeline-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    position: relative;
    color: black;
    margin-bottom: 10px;
    margin-top: 5px;
}

.timeline-container .timeline-tracking-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    padding-top: 5px;
    overflow: hidden;
}

.timeline-tracking-box .tracking-mark{
    width: 10px;
    height: 30px;
    background-color: rgb(61, 238, 238);
    border-radius: 20px;
}
.timeline-tracking-box .tracking-line{
    margin-top: 5px;
    min-height: 190px;
    max-height: 100%;
    width: 5px;
    height: 100%;
    background-color: rgb(96, 180, 180);
    border-radius: 10px;
}

.timeline-container .timeline-content-box{
    width: 100%;
    height: 100%;
    padding: 10px;
    
    display: flex;
    flex-direction: column;

    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(36, 35, 37);
    color: white;

}

.timeline-content-box p{
    font-size: 13px;
    border-left: 2px solid rgb(255, 0, 64);
    padding-left: 10px;
}


@media (max-width: 700px) {
    .timeline-container{
        width: 95%;
    }
}